<form {{action "submit" on='submit'}}>
<h2>New Review</h2>
<label>Review Title</label>
{{input required=true type="text" placeholder="Post Title" value=reviewTitle}}
<label>Review Category</label>
{{input required=true type="text" placeholder="Category" value=category}}
<label>Review Text</label>
{{input required=true type="text" placeholder="Review Body" value=reviewText}}
<button class="btn btn-primary" type="submit">Post Review</button>
</form>
